@import "tailwindcss";

@font-face {
  font-family: "B-Yekan";
  src: url("../public/font/BYekan.woff");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "B-Yekan", Arial, Helvetica, sans-serif;
}
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #ebf8ff;
}

*::-webkit-scrollbar-thumb {
  background-color: #3b82f6; 
  border-radius: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 #ebf8ff;
}
